.link {
  text-decoration: none;
  padding: 0 !important;
  background: #5968a6 !important;
  color: white !important;
  font-weight: 600;
}

.link:hover {
  text-decoration: none;
  padding: 0 !important;
  background: #5968a6 !important;
  color: white !important;
  font-weight: 800;
}

.title {
  font-weight: 700;
  font-size: 1.85rem;
}

.card:hover {
  transform: scale(1.01);
  border: solid #5968a6 2px;
  box-shadow: 0 15px 6px -6px black;
}
