.link {
  text-decoration: none;
  padding: 0 !important;
  background: #5968a6 !important;
  color: white !important;
  font-weight: 600;
}

.link:hover {
  text-decoration: none;
  padding: 0 !important;
  background: #5968a6 !important;
  color: white !important;
  font-weight: 800;
}

.title {
  font-weight: 700;
  font-size: 1.85rem;
}
