.link {
  text-decoration: none;
  padding: 0 !important;
  background: #5968a6 !important;
  color: white !important;
  font-weight: 600;
}

.link:hover {
  text-decoration: none;
  padding: 0 !important;
  background: #5968a6 !important;
  color: white !important;
  font-weight: 800;
}

.title {
  font-weight: 700;
  font-size: 1.85rem;
}

.card {
  border-radius: 15% !important;
  border-radius: 15% !important;
  height: 95% !important;
}

.card:hover {
  transform: scale(1.01);
  border: solid #5968a6 2px;
  box-shadow: 0 10px 6px -6px black;
}

.img {
  max-width: 350px;
  max-height: 250px;
  height: 250px;
  width: 350px;
  border-radius: 3px;
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
  margin-bottom: 0;
}

.content {
  margin: 1rem auto;
  height: 150px;
}

@media only screen and (max-width: 900px) {
  .img {
    max-width: 300px;
    max-height: 200px;
    height: 200px;
    width: 300px;
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    margin-bottom: 0;
  }

  .headInfo {
    p {
      font-size: 14px;
    }
  }

  .content {
    margin: 1rem auto;
    height: 175px;
  }
}

@media only screen and (max-width: 480px) {
  .img {
    max-width: 350px;
    max-height: 225px;
    height: 225px;
    width: 350px;
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 380px) {
  .img {
    max-width: 300px;
    max-height: 200px;
    height: 200px;
    width: 300px;
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 330px) {
  .img {
    max-width: 250px;
    max-height: 200px;
    height: 200px;
    width: 250px;
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    margin-bottom: 0;
  }
}
