.footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
